body {
  margin: 0;
}
.timer {
  padding: 5px 24px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.timer::-webkit-scrollbar {
  display: none;
}

.timer-progress {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}

.timer-progress-btn {
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: auto;
  font-size: 42px;
  color: #bc251a;
  text-align: center;
  cursor: pointer;
}
.timer-progress-btn:hover {
  font-size: 48px;
}

.timer-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.timer-result-item {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M788.383 175.645c-49.5-31.705-142.49-75.93-231.79-35.087a12.945 12.945 0 0 1-18.394-11.727V46.737c0-18.973-12.868-34.507-28.614-34.507h-42.95c-15.747 0-28.633 15.534-28.633 34.507v86.943a12.945 12.945 0 0 1-15.496 12.79c-36.265-7.476-130.434-19.127-220.469 34.662-12.346 7.38-5.178 26.682 8.965 24.093 41.926-7.651 97.087-12.926 134.395 1.778 9.776 3.864 11.187 17.214 2.396 22.972-26.489 17.292-75.351 57.054-107.366 130.145-5.467 12.461 9.854 23.61 20.345 14.973 40.902-33.695 108.196-79.37 165.27-71.989a13.157 13.157 0 0 1 11.728 13.138c-.58 38.275-.097 168.4 31.512 217.63a13.06 13.06 0 0 0 21.6.675c20.152-27.667 63.836-101.105 62.04-215.755a13.1 13.1 0 0 1 13.485-13.408c28.769.947 96.74 9.08 150.663 61.71 8.83 8.637 23.456 1.179 21.91-11.07-4.231-33.522-22.682-84.22-89.494-123.537-10.143-5.97-8.423-21.157 3.015-23.977 23.069-5.661 62.83-11.033 128.367-8.869 13.254.445 18.683-16.828 7.515-23.996' fill='%2388C057'/%3E%3Cpath d='M803.415 205.244a13.563 13.563 0 0 0-6.067-2.318c-7.747-.947-15.476-1.836-23.204-2.879-2.763-.251-5.545-.483-8.308-.753-56.281-.908-91.619 3.98-112.93 9.158-11.592 2.82-13.66 18.007-3.4 24.054 66.811 39.298 85.243 89.996 89.474 123.518 1.546 12.249-13.08 19.707-21.91 11.07-53.924-52.63-121.894-60.763-150.663-61.71a13.1 13.1 0 0 0-13.486 13.408c1.797 114.65-41.887 188.088-62.039 215.755a13.06 13.06 0 0 1-21.6-.676c-31.609-49.23-32.092-179.354-31.512-217.629a13.157 13.157 0 0 0-11.728-13.138c-57.074-7.38-124.368 38.294-165.27 71.99-10.49 8.636-25.812-2.513-20.345-14.974 31.976-72.994 80.742-112.756 107.25-130.087a13.022 13.022 0 0 0-2.473-22.992 125.044 125.044 0 0 0-23.224-6.26 14.2 14.2 0 0 0-4.52-.077c-46.854 6.376-92.876 15.283-137.545 27.242a14.297 14.297 0 0 0-5.371 2.782C75.95 312.745 14.046 430.853 14.046 562.176c0 247.711 220.122 448.531 491.655 448.531 271.534 0 491.636-200.82 491.636-448.531 0-145.601-76.065-274.992-193.922-356.932' fill='%23D13834'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
}

.timer-result-item:not(:nth-child(6)) {
  margin-right: 5.5px;
}